@font-face {
    font-family: Khula;
    src: url(fonts/Khula-Regular.ttf);
}

@font-face {
    font-family: PlayFair Display;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(fonts/Pacifico-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.top_section{
    margin: 0;
    padding: 2%;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgba(57, 62, 70, 1);
    text-align: center;
}

.top_section h1{
    font-family: Pacifico;
    font-size: 400%;
    transform: translate(-2%,-20%);
    position: relative;
    color: rgba(238, 238, 238, 1);  
}

#logo{
    height: 70%;
    width: 7%;
    position: absolute;
    transform: translate(-650%, -10%);
    border-radius: 50%  ;
}

body{
    font-family: Khula;
    background-color: rgb(28, 33, 40);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;

}

.center{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: rgba(238, 238, 238, 1);
    height: 55%;
    width: 50%;
    border-radius: 5%;
    align-content: center;
}

.center h1{
    font-family: PlayFair Display;
    color: rgba(57, 62, 70, 1);
    text-align: center;
    padding: 5% 5%;
    border-bottom: 1% solid rgba(57, 62, 70, 1);
}

.center form{
    padding: 0 10%;
    box-sizing: border-box;
}

.login_field{
    position: relative;
    border-bottom: 1% solid rgba(57, 62, 70, 1);
    transform: translateX(-7%);
}

.login_field input{
    font-family: Khula;
    margin: 5%;
    width: 100%;
    padding: 2%;
    font-size:80%;
    background: none;
    outline: rgba(57, 62, 70, 1);
}

.login_field label{
    font-family: Khula;
    position: absolute;
    left: 5%;
    top: 50%;
    color: rgb(126, 124, 124);
    transform: translateY(-200%);
    font-size: 100%;
}

input[type = "submit"]{
    padding: 2%;
    transform: translate(400%, -10%);
    background-color: rgba(78, 204, 163, 1);
    border-radius: 20%;
    border: none;
    
}
.sign_up_link{
    position: relative;
    transform: translate(35%, 50%);
}

#submit_button{
    font-family: PlayFair Display;
}

.bottom_section{
    margin: 0;
    height: 7.5%;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: rgba(78, 204, 163, 1);
    text-align: center;
}

.bottom_section h4{
    color: rgba(57, 62, 70, 1);
    font-family: PlayFair Display;
    transform: translateY(50%);
}