@font-face {
  font-family: Khula;
  src: url("fonts/Khula-Regular.ttf");
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #1c2128;
  font-size: 16px;
  font-family: Khula;
}

footer {
  height: 40px;
  bottom: 0;
  background-color: #4ecca3;
  opacity: 87%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outerform {
  position: relative;
  margin: auto;
  width: 500px;
  height: 400px;
}

#formtitle {
  color: #eeeeee;
  opacity: 87%;
}

form {
  position: relative;
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: #393e46;
  border-radius: 10px;
  color: #393e46;
  opacity: 87%;
}

input,
textarea {
  font-size: 16px;
  border-radius: 10px;
  height: 25px;
  background-color: #eeeeee;
  border: 0;
  padding-left: 8px;
  box-sizing: border-box;
}

input,
textarea:focus {
  outline: none;
}

#mainform {
  position: relative;
  margin: auto;
  width: 85%;
  height: 90%;
  transform: translateY(15px);
  /* TODO: should be 5% instead 15px,
  but % causes text blur when input field is selected*/
}

#fname {
  font-size: 18px;
  width: 100%;
  color: #393e46;
  opacity: 87%;
}

#fdesc {
  background-color: #eeeeee;
  width: 100%;
  border-radius: 10px;
  height: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  vertical-align: top;
  top: 10px;
  height: 150px;
  opacity: 87%;
  padding: 10px;
  resize: none;
}

#fdate {
  position: absolute;
  bottom: 15px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  opacity: 87%;
}

#fdate::-webkit-calendar-picker-indicator {
  margin-top: -4px;
  margin-left: -8px;
  margin-right: 5px;
}

.fcreate {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 20%;
  height: 14%;
  background-color: #4ecca3;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 50ms;
}

#formtitle {
  padding-left: 10%;
}

*:focus {
  outline: none;
}

#ftype select {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 10px;
  padding-top: 9px;
  margin: -5px -20px -5px -5px;
  color: #393e46;
  height: 40px;
  background-color: #eeeeee;
  opacity: 87%;
}

#ftype select option {
  width: 40px;
  margin-left: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

#ftype select :hover {
  background-color: #eeeeee;
}

#ftype {
  border-radius: 10px;
  position: relative;
  margin-top: 4.5%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  height: 25px;
}

#targetlist {
  position: relative;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 100%;
}

#listtitle {
  position: relative;
  left: 40%;
  width: fit-content;
  color: #eeeeee;
  font-weight: bold;
  opacity: 90%;
}

.target {
  display: flex;
  margin-bottom: 15px;
  background-color: #393e46;
  border-radius: 10px;
  list-style-type: none;
  padding: 12px;
  opacity: 87%;
  justify-content: space-between;
}
.target > * {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  color: #393e46;
  height: 80%;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  font-size: 24px;
  height: fit-content;
  font-weight: bold;
}

.targetname {
  position: relative;
  width: 70%;
  background-color: #eeeeee;
  margin-right: 50px;
  padding-top: 4px;
}

.targetdate {
  background-color: #eeeeee;
  margin-right: 50px;
  padding-top: 4px;
}

.targetedit {
  margin-right: 10px;
  background-color: #4ecca3;
  right: 0px;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
